<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>github-public</id>
      <username>nbittich</username>
      <!-- Public token with `read:packages` scope -->
      <password>&#103;hp_6thlNa1btFpUo7SUEa1a5ypPpwkHOf25qgcG</password>
    </server>
  </servers>
</settings>
